.home {
  .banner {
    margin: 20px 0;
    aspect-ratio: 3.45;

    img {
      width: 100%;
    }
  }

  .products {
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;

    .card {
      padding: 10px;
      background: #fff;
      border-radius: 8px;
      text-decoration: none;
      min-height: 297px;

      .image {
        max-height: 200px;
        height: 100%;
        margin-bottom: 5px;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          border-radius: 8px;
        }
      }

      p {
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        margin: 0;

        span {
          min-width: fit-content;
        }

        .brand {
          color: #4b9ce2;
          font-weight: bold;
        }

        .color,
        .colorType {
          font-size: 13px;
          font-weight: bold;
          color: #3e3e3e;
        }

        .colorType {
          font-weight: 400;
        }
      }

      .price {
        margin-top: 26px;
        font-weight: 700;
        color: #3e3e3e;
        display: inline-block;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .products {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}

@media only screen and (max-width: 768px) {
  .productNavs {
    gap: 27px !important;
  }

  .products {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media only screen and (max-width: 576px) {
  .products {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 10px !important;

    p {
      flex-direction: column;

      .color,
      .colorType {
        font-size: 10px !important;
      }
    }

    .price {
      margin-top: 12px !important;
    }
  }
}

@media only screen and (max-width: 368px) {
  .products {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
