@import url("../constants/SwitchCheckBox.module.scss");

.customSelect {
  position: relative;

  p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f4f4f4;
    border-radius: 8px;
    padding: 12px 12px 12px 15px;
    color: #99a0a7;
    cursor: pointer;
    gap: 10px;
    margin: 0;
  }

  .dropdown {
    display: none;

    &.open {
      position: absolute;
      top: 0;
      width: 100%;
      display: block;
      background: #fff;
      box-shadow: 0px 3px 12px #1e36482e;
      padding: 8px 12px;
      display: flex;
      flex-direction: column;
      gap: 6px;
      border-radius: 8px;
      z-index: 2;
      min-width: fit-content;

      .options {
        display: flex;
        flex-direction: column;
        max-height: 190px;
        overflow-y: auto;
        padding-right: 10px;

        &::-webkit-scrollbar {
          width: 5px;
          border-radius: 20px;
        }

        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
          border-radius: 20px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: darkgrey;
          border-radius: 20px;
        }
      }

      p {
        background: unset;
        padding: 0;
        padding: 8px 0 0 10px;
        color: #b1b1b1;
        position: relative;

        svg {
          position: absolute;
          right: -2px;
          transform: rotate(180deg);
        }
      }

      span {
        display: block;
        padding: 8px 10px;
        cursor: pointer;
        color: #3e3e3e;
        font-size: 16px;

        &:hover {
          background: #f2f2f2;
          border-radius: 10px;
          color: #4b9ce2;
        }
      }
    }
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1;
  }
}
